@using test.Models
@model test.Models.TableList


@{ Layout = null;}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Atam Technology">
    <meta name="description" content="avrupa birliği tto projesi">
    <meta name="keywords" content="drone, avrupa birliği, fixar007, fixar , urban air mobility, european union">
    <meta name="robots" content="index, nofollow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="revisit-after" content="7 days">
    <meta name="author" content="IKU ASIMOV HELLO WORLD">

    @*@@if (lang == "en")
        {
        <meta name="language" content="English">
        }
        else
        {
        <meta name="language" content="Turkish">
        }*@

    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Style/css/fontawesome-all.min.css">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="~/Style/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" crossorigin="anonymous" />
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top nav-fixed">
        <div id="headerMenuTop" class="container-fluid fixed-top">
            <div class="container">
                <div class="row w-100 mx-auto">
                    <div class="headerMenuTopContact">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="tel:+7 812 363-33-87"><i class="fa fa-phone"></i> +7 812 363-33-87</a></li>
                            <li class="list-inline-item"><a href="@Url.Action("Contact", "Home")"><i class="far fa-envelope"></i> info@atamtechnology.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <div id="headerMenuBottom" class="container mt-lg-4">
                    <!--
                     <h1>
                         <a class="navbar-brand d-flex align-items-center" href="index.html">
                             <i class="fas fa-space-shuttle"></i><span class="appname">Atam</span>Tech
                         </a>
                     </h1>
                    -->
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="~/Style/images/ATAM_TECH_NORMAL_1080x350.png" alt="Your logo" title="Your logo" style="height:45px;" />
                    </a>
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">@test.Language.Localization.Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductList", "Product")">@test.Language.Localization.Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProjectList", "Project")">@test.Language.Localization.Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Collist", "Collaboration")">@test.Language.Localization.Collaborations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("About", "Home")">@test.Language.Localization.About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ServiceList", "Services")">@test.Language.Localization.Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Contact", "Home")">@test.Language.Localization.Contact</a>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink(" TR ", "ChangeLanguage", "Home", new { selectedlanguage = "tr" }, new { @class = "btn nav-link" })
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink(" EN ", "ChangeLanguage", "Home", new { selectedlanguage = "en" }, new { @class = "btn nav-link" })
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--//header-->
    <!-- services section -->
    <div class="service-section py-5">
        <div class="container py-md-5 py-5">
            <div class="row align-items-center mb-5">
                <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                    <h3 class="title-style">
                        @test.Language.Localization.News
                    </h3>
                </div>
            </div>



            <div class="row justify-content-center">
                @{ if (test.Language.Localization.Home == "Anasayfa")
                    {
                        foreach (var item in Model.newsTr)
                        {
                            <div class="col-lg-4 col-md-6 item d-flex align-items-stretch">
                                <div class="card">
                                    <div class="card-header p-0 position-relative border-0">
                                        <div class="news-grid-box">
                                            <h1>@item.date.ToString("dd")</h1>
                                            <p>@item.date.ToString("MMM")</p>
                                        </div>
                                        <a href="/News/NewsDetail/@item.id">
                                            <img class="d-block img-responsive" src="@item.fotoUrl" alt="card-image">
                                        </a>
                                    </div>
                                    <div class="card-body service-details">
                                        <a href="/News/NewsDetail/@item.id" class="service-heading">@item.title</a>
                                        <p>
                                            @item.content.Substring(0, 75)...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }


                    }

                    else
                    {


                        foreach (var item in Model.newsEn)
                        {
                            <div class="col-lg-4 col-md-6 item d-flex align-items-stretch">
                                <div class="card">
                                    <div class="card-header p-0 position-relative border-0">
                                        <div class="news-grid-box">
                                            <h1>@item.date.ToString("dd")</h1>
                                            <p>@item.date.ToString("MMM")</p>
                                        </div>
                                        <a href="/News/NewsDetail/@item.id">
                                            <img class="d-block img-responsive" src="@item.fotoUrl" alt="card-image">
                                        </a>
                                    </div>
                                    <div class="card-body service-details">
                                        <a href="/News/NewsDetail/@item.id" class="service-heading">@item.title</a>
                                        <p>
                                            @item.content.Substring(0, 75)...
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                }

            </div>

        </div>
    </div>
    <!-- //services section -->
    <section class="logo-section py-0">
        <div class="container py-md-3 py-0">
            <div class="d-inline-block w-100">
                <div class="py-3 float-left" style=" width: 50%;"><a href="https://www.eiturbanmobility.eu"><img style="max-width: 180px; width: 90%;" src="https://www.eiturbanmobility.eu/wp-content/uploads/2019/05/logo-EIT-Urban-Mobility.svg" /></a> </div>
                <div class="py-3 float-right" style=" width: 50%;"><a href="https://europa.eu/european-union/index_en"><img style="max-width: 180px; width: 90%; float: right;" src="~/Style/images/Co-Funded_by_the_EU_logo_ok.png" /></a> </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer py-3">
        <div class="container py-md-4 py-3">
            <div class="row sub-columns">
                <div class="col-lg-3 col-sm-6 pl-lg-5 sub-one-left">
                    <h6>@test.Language.Localization.Our_Services</h6>
                    <ul>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Website Designing</a>
                        </li>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Web Hosting</a>
                        </li>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Digital Photography</a>
                        </li>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Photoshop to HTML</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-sm-0 mt-5">
                    <h6>@test.Language.Localization.Quick_links</h6>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")"><span class="fas fa-angle-right mr-2"></span>@test.Language.Localization.Home</a></li>
                        <li><a href="@Url.Action("About","Home")"><span class="fas fa-angle-right mr-2"></span>@test.Language.Localization.About</a></li>
                        <li><a href="@Url.Action("Contact","Home")"><span class="fas fa-angle-right mr-2"></span>@test.Language.Localization.Contact</a></li>
                    </ul>

                </div>
                <div class="col-lg-2 col-sm-6 sub-two-right mt-lg-0 mt-sm-5 mt-4">
                    <h6>@test.Language.Localization.Help_Support</h6>
                    <ul>
                        <li>
                            <a href="#faq"><span class="fas fa-angle-right mr-2"></span>Faq</a>
                        </li>
                        <li>
                            <a href="#support"><span class="fas fa-angle-right mr-2"></span>Support</a>
                        </li>
                        <li>
                            <a href="#terms">
                                <span class="fas fa-angle-right mr-2"></span>Terms
                                of Services
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                    <ul class="social">
                        <li>
                            <a href="#facebook" title="facebook">
                                <span class="fab fa-facebook-f"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#linkedin" title="linkedin">
                                <span class="fab fa-linkedin-in"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#twitter" title="twitter">
                                <span class="fab fa-twitter"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#google" title="google">
                                <span class="fab fa-google-plus-g"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#instagram" title="instagram">
                                <span class="fab fa-instagram"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container py-md-3 py-0">
            <div class="d-inline-block w-100 text-center">
                <p>Designed by IKU ASIMOV HELLO WORLD.</p>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-chevron-up" aria-hidden="true"></span>
    </button>
    <!-- move top -->

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- common jquery plugin -->
    <script src="~/Style/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->
    <!-- MENU-JS -->
    <script>

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!--bootstrap-->
    <script src="~/Style/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>




