@model test.Models.Service
@{
    ViewBag.Title = "bringService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bring Service</h2>

@using (Html.BeginForm("UpdateService", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })

    <br />

    @Html.LabelFor(x => x.title)
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })

   
    @Html.LabelFor(x => x.photoUrl)
    @Html.TextBoxFor(x => x.photoUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.content)
    @Html.TextAreaFor(x => x.content, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Add New</button>


}