@model test.Models.HomePage
@{
    ViewBag.Title = "bringNew";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Haber Getirme</h2>

@using (Html.BeginForm("UpdateHome", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })

    <br />

    @Html.LabelFor(x => x.title)
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })

    <br />
    @Html.Label("Turkish=true, English=false")
    <br />
    @Html.TextBoxFor(x => x.language, new { @class = "form-control" })

    <br />
    <br />
    @Html.LabelFor(x=>x.photoUrl)
    @Html.TextBoxFor(x => x.photoUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.text)
    @Html.TextAreaFor(x => x.text, 15, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update Home</button>


}