@using test.Models
@model test.Models.TableList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>New List</h2>
<h3>@test.Language.Localization.Language</h3>

<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>TITLE</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>DETAILS</th>

    </tr>


    @{
        if (test.Language.Localization.Language == "Türkçe")
        {

            foreach (var x in Model.newsTr)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.title</td>
                    <td><a href="/Admin/DeleteNew/@x.id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Admin/bringNew/@x.id" class="btn btn-success">Update</a></td>
                    <td><a href="#" class="btn btn-default">Details</a></td>

                </tr>
            }

        }
        else
        {
            foreach (var x in Model.newsEn)
            {
                <tr>

                    <td>@x.id</td>
                    <td>@x.title</td>
                    <td><a href="/Admin/DeleteNew/@x.id" class="btn btn-danger">Delete</a></td>
                    <td><a href="/Admin/bringNew/@x.id" class="btn btn-success">Update</a></td>
                    <td><a href="#" class="btn btn-default">Details</a></td>

                </tr>
            }


        }
    }






</table>
<a href="/Admin/CreateNew/" class="btn btn-primary">Yeni Haber</a>