﻿@{ Layout = null;}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- //google-fonts -->
    <!-- Font-Awesome-Icons-CSS -->
    <link rel="stylesheet" href="~/Style/css/fontawesome-all.min.css">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="~/Style/css/style.css">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top nav-fixed">
        <div class="container">
            <nav class="navbar navbar-expand-lg stroke">
                <div id="headerMenuTop" class="container-fluid fixed-top">
                    <div class="container">
                        <div class="row w-100 mx-auto">
                            <div class="headerMenuTopContact">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="tel:+7 812 363-33-87"><i class="fa fa-phone"></i> +7 812 363-33-87</a></li>
                                    <li class="list-inline-item"><a href="@Url.Action("Contact","Home")"><i class="far fa-envelope"></i> info@atamtechnology.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="headerMenuBottom" class="container mt-lg-4">
                    <h1>
                        <a class="navbar-brand d-flex align-items-center" href="index.html">
                            <i class="fas fa-space-shuttle"></i><span class="appname">Atam</span>Tech
                        </a>
                    </h1>
                    <!-- if logo is image enable this
                    <a class="navbar-brand" href="#index.html">
                        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                    </a> -->
                    <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                        <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarToggler">
                        <ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ProductList", "Product")">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Collist", "Collaboration")">Collaborations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ServiceList", "Services")">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Contact","Home")">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--//header-->
    <!-- contact block -->
    <section class="contact py-5" id="contact">
        <div class="container py-md-5 py-4">
            <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
                <h3 class="title-style">Contact Us</h3>
            </div>
            <div class="row contact-block">
                <div class="col-md-7 contact-left">
                    <h5>You can send a message to us.</h5>
                    <form action="https://sendmail.w3layouts.com/submitForm" method="post" class="signin-form">
                        <div class="input-grids">
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" name="nameSurname" id="Name" placeholder="Your Name"
                                           class="contact-input" required="" />
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" name="mail" id="Sender" placeholder="Your Email"
                                           class="contact-input" required="" />
                                </div>
                            </div>
                            <input type="text" name="subject" id="Subject" placeholder="Subject"
                                   class="contact-input" required="" />
                        </div>
                        <div class="form-input">
                            <textarea name="message" id="Message" placeholder="Type your message here"
                                      required=""></textarea>
                        </div>
                        <div class="text-start">
                            <button class="btn btn-style btn-style-3">Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 ps-lg-5 mt-md-0 mt-5">
                    <div class="contact-right">
                        <div class="cont-details">
                            <div class="d-flex contact-grid">
                                <div class="map">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317718.69319292053!2d-0.3817765050863085!3d51.528307984912544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2spl!4v1562654563739!5m2!1sen!2spl"
                                            width="110%" height="200" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="d-flex contact-grid mt-4 pt-lg-2">
                                <div class="cont-left text-center me-3">
                                    <i class="fas fa-building"></i>
                                </div>
                                <div class="cont-right">
                                    <h6>Company Address</h6>
                                    <p>Edu School, 10001, 5th Avenue, 12202 street, London.</p>
                                </div>
                            </div>
                            <div class="d-flex contact-grid mt-4 pt-lg-2">
                                <div class="cont-left text-center me-3">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="cont-right">
                                    <h6>Call Us</h6>
                                    <p><a href="tel:+1(21) 234 4567">+1(21) 112 7368</a></p>
                                </div>
                            </div>
                            <div class="d-flex contact-grid mt-4 pt-lg-2">
                                <div class="cont-left text-center me-3">
                                    <i class="fas fa-envelope-open-text"></i>
                                </div>
                                <div class="cont-right">
                                    <h6>Email Us</h6>
                                    <p><a href="mailto:example@mail.com" class="mail">example@mail.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact block -->
    <!-- footer -->
    <footer class="footer py-5">
        <div class="container py-md-5 py-4">
            <div class="row sub-columns">
                <div class="col-lg-4 col-sm-6 sub-one-left">
                    <h6>Our Services</h6>
                    <ul>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Website Designing</a>
                        </li>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Web Hosting</a>
                        </li>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Digital Photography</a>
                        </li>
                        <li>
                            <a href="services.html"><span class="fas fa-angle-right mr-2"></span>Photoshop to HTML</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-sm-0 mt-5">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")"><span class="fas fa-angle-right mr-2"></span>Home</a></li>
                        <li><a href="@Url.Action("About","Home")"><span class="fas fa-angle-right mr-2"></span>About</a></li>
                        <li><a href="@Url.Action("Contact","Home")"><span class="fas fa-angle-right mr-2"></span>Contact</a></li>
                    </ul>

                </div>
                <div class="col-lg-2 col-sm-6 sub-two-right mt-lg-0 mt-sm-5 mt-4">
                    <h6>Help & Support</h6>
                    <ul>
                        <li>
                            <a href="#faq"><span class="fas fa-angle-right mr-2"></span>Faq</a>
                        </li>
                        <li>
                            <a href="#support"><span class="fas fa-angle-right mr-2"></span>Support</a>
                        </li>
                        <li>
                            <a href="#terms">
                                <span class="fas fa-angle-right mr-2"></span>Terms
                                of Services
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6 sub-two-right pl-lg-5 mt-lg-0 mt-sm-5 mt-4">
                    <ul class="social">
                        <li>
                            <a href="#facebook" title="facebook">
                                <span class="fab fa-facebook-f"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#linkedin" title="linkedin">
                                <span class="fab fa-linkedin-in"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#twitter" title="twitter">
                                <span class="fab fa-twitter"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#google" title="google">
                                <span class="fab fa-google-plus-g"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#instagram" title="instagram">
                                <span class="fab fa-instagram"
                                      aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-chevron-up" aria-hidden="true"></span>
    </button>
    <!-- move top -->

    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- common jquery plugin -->
    <script src="~/Style/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->

    <!-- MENU-JS -->
    <script>

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!--bootstrap-->
    <script src="~/Style/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->
</body>

</html>