@using test.Models
@model List<Product>

@{
    ViewBag.Title = "ProductList";
}

<h2>Product</h2>



@foreach (var item in Model)
{
    <tr>
        <td>
            @item.name
        </td>
        <td>
            @item.content
        </td>
        <td>
            @item.flightTime
        </td>
        <td>
            @item.flightRange
        </td>
        <td>
            @item.cruiseSpeed
        </td>
        <td>
            @item.payload
        </td>
        <td>
            @item.setupTime
        </td>
        <td>
            @item.motor
        </td>

    </tr>
}

